[package]
name = "common"
version = "0.1.0"
edition = "2021"

[dependencies]
socket2 = { version = "0.5", features = ["all"] }
zerocopy = { version = "0.7", features = ["derive"] }
crossbeam-utils = "0.8"
